@model FunMath.Models.Level
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "ShowLevelChallenges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container welcome p-4">
    <h2>Aufgaben von Level @Model.LevelNumber</h2>
    @if (Model.Challenges.Count == 0)
    {
        <p class="badge badge-info">Es sind momentan noch keine Aufgaben in diesem Level.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var challenge in Model.Challenges)
            {
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-header">
                            Aufgaben Title
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@challenge.ChallengeText</h5>
                            <p class="card-text">Richtige Antwort: <span class="badge badge-success">@challenge.Solution</span></p>
                            <a class="btn btn-primary" asp-controller="ManageData" asp-action="EditTask" asp-route-id="@challenge.Id">Bearbeiten</a>
                            <a class="btn btn-danger" asp-controller="ManageData" asp-action="DeleteTask" asp-route-taskId="@challenge.Id" asp-route-levelId="@challenge.LevelId">Löschen</a>
                        </div>
                    </div>
                </li>

            }
        </ul>
       
            <a class="nav-link" asp-area="Admin" asp-controller="ManageData" asp-action="AddTask"> <i class="fas fa-plus"></i> AddTask</a>
    }
    <div class="mt-4">
        <a class="btn btn-primary" asp-controller="ManageData" asp-action="ShowTasks">Zurück</a>
    </div>
</div>

